* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsx text eol=lf
*.sass text eol=lf
*.scss text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

*.ico binary
*.icns binary
*.jpg binary
*.jpeg binary
*.png binary
*.svg binary
